/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./TagInput.scss";
@import "./Datetime.scss";

body {
  font-family: 'Helvetica';
  padding: 40px;
}

.form-group {
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: #303030;
}

#app-header {
  color: white;
  background-color: #303030;
}

//Manage Tag page
#tag-index {
  width: 50%;
}

#register-link {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #007BFF;
  text-decoration: underline;
  cursor: pointer;
}
